{{- if .Values.database.enabled }}
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Values.database.name }}
spec:
  instances: {{ .Values.database.instances }}
  primaryUpdateStrategy: {{ .Values.database.primaryUpdateStrategy }}
  primaryUpdateMethod: {{ .Values.database.primaryUpdateMethod }}
  storage:
    size: {{ .Values.database.storage.size }}
    storageClass: {{ .Values.database.storage.storageClass }}
  replicationSlots:
    highAvailability:
      enabled: {{ .Values.database.replicationSlots.highAvailability.enabled }}
  {{- if .Values.database.resources }}
  resources:
    {{- toYaml .Values.database.resources | nindent 4 }}
  {{- end }}
{{- end }}
