apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: beun-db
spec:
  instances: 1
  primaryUpdateStrategy: unsupervised
  primaryUpdateMethod: switchover
  storage:
    size: 1Gi
    storageClass: longhorn-local
  replicationSlots:
    highAvailability:
      enabled: false
